{% block element_image_slider %}
    {% set sliderConfig = element.fieldConfig.elements %}
    {% set visibleValues = ['inside', 'outside'] %}
    {% set blockId = block.id %}
    {% set displayMode = sliderConfig.displayMode.value %}
    {% set navigationArrows = sliderConfig.navigationArrows.value %}
    {% set navigationDots = sliderConfig.navigationDots.value %}
    {% set verticalAlign = sliderConfig.verticalAlign.value %}
    {% set minHeight = sliderConfig.minHeight.value|trim|replace({' ':''}) %}

    {% set containerClass = '' %}
    {% set alignmentClass = ' align-self-start' %}
    {% set arrowsClass = '' %}
    {% set dotsClass = '' %}
    {% set prevClass = '' %}
    {% set nextClass = '' %}

    {% if displayMode == 'contain' and verticalAlign %}
        {% set containerClass = ' has-vertical-align is-align-' %}
        {% if verticalAlign == 'center' %}
            {% set containerClass = containerClass ~ 'center' %}
        {% elseif verticalAlign == 'flex-end' %}
            {% set containerClass = containerClass ~ 'bottom' %}
        {% else %}
            {% set containerClass = containerClass ~ 'top' %}
        {% endif %}
    {% endif %}

    {% if verticalAlign == "center" %}
        {% set alignmentClass = ' align-self-center' %}
    {% elseif verticalAlign == "flex-end" %}
        {% set alignmentClass = ' align-self-end' %}
    {% endif %}

    {% if navigationArrows == "outside" %}
        {% set arrowsClass = ' has-nav-outside' %}
        {% set prevClass = ' is-nav-prev-outside' %}
        {% set nextClass = ' is-nav-next-outside' %}
    {% elseif navigationArrows == "inside" %}
        {% set prevClass = ' is-nav-prev-inside' %}
        {% set nextClass = ' is-nav-next-inside' %}
    {% endif %}

    {% if navigationDots == "outside" %}
        {% set dotsClass = ' has-dots-outside' %}
    {% endif %}

    <div class="cms-element-{{ element.type }}{% if displayMode == "standard" and verticalAlign %} has-vertical-alignment{% endif %}">
        {% set baseSliderOptions = {
            slider: {
                controls: navigationArrows in visibleValues,
                nav: navigationDots in visibleValues,
                navPosition: 'bottom',
                mouseDrag: true,
                autoplay: sliderConfig.autoSlide.value,
                autoplayButtonOutput: false,
                autoplayTimeout: sliderConfig.autoplayTimeout.value,
                speed: sliderConfig.speed.value,
                ariaLive: sliderConfig.autoSlide.value ? false : true,
                autoHeight: (displayMode == "standard") ? true : false
            }
        } %}

        {% block element_image_slider_alignment %}
            {% if config.verticalAlign.value %}
                <div class="cms-element-alignment{{ alignmentClass }}">
            {% endif %}
                <div
                    class="base-slider image-slider{{ arrowsClass }}{{ dotsClass }}"
                    data-base-slider="true"
                    data-base-slider-options='{{ baseSliderOptions|json_encode }}'
                    role="region"
                    aria-label="{{ 'component.cms.imageGallery.ariaLabel'|trans({ '%total%': element.data.sliderItems|length })|sw_sanitize }}"
                    tabindex="0"
                >

                    {% block element_image_slider_inner %}
                        {% block element_image_slider_skip_slider %}
                            {% sw_include '@Storefront/storefront/component/skip-target.html.twig' with {
                                targetId: blockId,
                                snippet: 'component.cms.imageGallery.skipImageGallery',
                            } %}
                        {% endblock %}

                        <div class="image-slider-container{{ containerClass }}"
                             data-base-slider-container="true">
                            {% for image in element.data.sliderItems %}

                                {% set imageElement %}
                                    <div class="image-slider-item{% if loop.first != true %} is-not-first{% endif %} is-{{ displayMode }}"{% if minHeight and displayMode == "cover" %} style="min-height: {{ minHeight }}"{% endif %}>
                                        {% set attributes = {
                                            'class': 'img-fluid image-slider-image',
                                            'alt': element.config.isDecorative.value ? '' : (image.media.translated.alt ?: ''),
                                            'title': element.config.isDecorative.value ? '' : (image.media.translated.title ?: ''),
                                            'tabindex': (image.url ? '-1' : '0')
                                        } %}

                                        {% if element.config.displayMode.value == 'cover' or element.config.displayMode.value == 'contain' %}
                                            {% set attributes = attributes|merge({ 'data-object-fit': element.config.displayMode.value }) %}
                                        {% endif %}

                                        {% if loop.first and sliderConfig.useFetchPriorityOnFirstItem.value is true %}
                                            {% set attributes = attributes|merge({ fetchpriority: 'high' }) %}
                                        {% endif %}

                                        {% sw_thumbnails 'cms-image-slider-thumbnails' with {
                                            media: image.media
                                        } %}
                                    </div>
                                {% endset %}

                                {% block element_image_slider_inner_item %}
                                    <div class="image-slider-item-container">
                                        {% if image.url %}
                                            <a href="{{ image.url }}"
                                               {% if image.ariaLabel %}aria-label="{{ image.ariaLabel }}"{% endif %}
                                               class="image-slider-link"
                                               {% if image.newTab %}target="_blank" rel="noopener"{% endif %}
                                            >
                                                {{ imageElement }}
                                            </a>
                                        {% else %}
                                            {{ imageElement }}
                                        {% endif %}
                                    </div>
                                {% endblock %}
                            {% endfor %}
                        </div>

                        {% block element_image_slider_controls %}
                            {% if navigationArrows !== 'none' %}
                                <div class="image-slider-controls-container">
                                    <div class="base-slider-controls"
                                        data-base-slider-controls="true">
                                        {% block element_image_slider_controls_items %}
                                            {% block element_image_slider_controls_items_arrows %}
                                                <button
                                                    class="base-slider-controls-prev image-slider-controls-prev{{ prevClass }}"
                                                    aria-label="{{ 'general.previous'|trans|striptags }}"
                                                >
                                                    {% block element_image_slider_controls_items_prev_icon %}
                                                        {% sw_icon 'arrow-head-left' %}
                                                    {% endblock %}
                                                </button>
                                                <button
                                                    class="base-slider-controls-next image-slider-controls-next{{ nextClass }}"
                                                    aria-label="{{ 'general.next'|trans|striptags }}"
                                                >
                                                    {% block element_image_slider_controls_items_next_icon %}
                                                        {% sw_icon 'arrow-head-right' %}
                                                    {% endblock %}
                                                </button>
                                            {% endblock %}
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endblock %}
                </div>
            {% if config.verticalAlign.value %}
                </div>
            {% endif %}
        {% endblock %}
    </div>

    {% block element_image_slider_target_after_slider %}
        <div id="content-after-target-{{ blockId }}"></div>
    {% endblock %}
{% endblock %}
