{% block element_image %}
    {% set config = element.fieldConfig.elements %}
    {% set displayMode = element.translated.config.displayMode.value %}
    {% set isCover = displayMode == 'cover' %}
    {% set wrapperClasses = ['cms-element-' ~ element.type, 'is-' ~ displayMode] %}

    {% if config.verticalAlign.value and not isCover %}
        {% set wrapperClasses = wrapperClasses|merge(['d-flex', 'has-vertical-alignment']) %}
    {% endif %}

    {% if not isCover %}
        {% if config.horizontalAlign.value == 'center' %}
            {% set wrapperClasses = wrapperClasses|merge(['justify-content-center']) %}
        {% elseif config.horizontalAlign.value == 'flex-end' %}
            {% set wrapperClasses = wrapperClasses|merge(['justify-content-end']) %}
        {% else %}
            {% set wrapperClasses = wrapperClasses|merge(['justify-content-start']) %}
        {% endif %}
    {% endif %}

    {% set alignmentClass = 'align-self-start' %}
    {% if config.verticalAlign.value == 'center' %}
        {% set alignmentClass = 'align-self-center' %}
    {% elseif config.verticalAlign.value == 'flex-end' %}
        {% set alignmentClass = 'align-self-end' %}
    {% endif %}

    <div class="{{ wrapperClasses|join(' ') }}">
        {% block element_product_slider_alignment %}
            {% if config.verticalAlign.value and not isCover %}
                <div class="cms-element-alignment {{ alignmentClass }}">
            {% endif %}
            {% block element_image_inner %}
                {% set imageElement %}
                    {% block element_image_container %}
                        {% if element.data.media.url %}
                            <div class="w-100 cms-image-container is-{{ displayMode }}"
                                {% if element.translated.config.minHeight.value and isCover %} style="min-height: {{ element.translated.config.minHeight.value }};"{% endif %}>
                                {% block element_image_media %}
                                    {% set attributes = {
                                        'class': 'cms-image',
                                        'alt': element.translated.config.isDecorative.value ? '' : (element.data.media.translated.alt ?: ''),
                                        'title': element.translated.config.isDecorative.value ? '' : (element.data.media.translated.title ?: ''),
                                    } %}

                                    {% if isCover or element.translated.config.displayMode.value == 'contain' %}
                                        {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}
                                    {% endif %}

                                    {% if element.translated.config.fetchPriorityHigh is defined and element.translated.config.fetchPriorityHigh.value %}
                                        {% set attributes = attributes|merge({ 'fetchpriority': 'high' }) %}
                                    {% else %}
                                        {% set attributes = attributes|merge({ 'loading': 'lazy' }) %}
                                    {% endif %}

                                    {% if displayMode == 'standard' and element.data.media.metaData.width is defined %}
                                        {% sw_thumbnails 'cms-image-thumbnails' with {
                                            media: element.data.media,
                                            sizes: { default: element.data.media.metaData.width ~ 'px' }
                                        } %}
                                    {% else %}
                                        {% sw_thumbnails 'cms-image-thumbnails' with {
                                            media: element.data.media
                                        } %}
                                    {% endif %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endset %}

                {% if element.translated.config.url.value %}
                    <a
                        href="{{ element.translated.config.url.value }}"
                        class="cms-image-link"
                        {% if element.translated.config.ariaLabel.value %}aria-label="{{ element.translated.config.ariaLabel.value }}"{% endif %}
                        {% if element.translated.config.newTab.value %}target="_blank" rel="noopener"{% endif %}
                    >
                        {{ imageElement }}
                    </a>
                {% else %}
                    {{ imageElement }}
                {% endif %}
            {% endblock %}
            {% if config.verticalAlign.value and not isCover %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
