<div class="help-title">
    {{ 'shopwell.installer.help.title'|trans }}
</div>
{{ 'shopwell.installer.help.support_channel'|trans }}:<br>
<a href="https://forum.shopwell.com/" target="_blank">{{ 'shopwell.installer.help.forum'|trans }}</a><br>
<a href="https://chat.shopwell.com/" target="_blank">Discord</a><br>
<a href="tel:{{ 'shopwell.installer.help.phone_number_call'|trans }}">{{ 'shopwell.installer.help.phone_number_formatted'|trans }}</a><br>
<a href="mailto:info@shopwell.com">{{ 'shopwell.installer.help.email'|trans }}</a>
