{% extends '@Installer/installer/base.html.twig' %}

{% block base_content %}
    <div class="card__title">
        <h2>{{ "shopwell.installer.finish_header"|trans }}</h2>
    </div>

    <div class="card__body">
        <div class="alert-hero success">
            <div class="alert-hero-icon">
                <i class="icon-checkmark"></i>
            </div>
            <div class="alert-hero-text">
                {{ "shopwell.installer.finish_title"|trans }}
            </div>
            <div class="alert-hero-text">
                {{ "shopwell.installer.finish_subtitle"|trans }}
            </div>
        </div>
    </div>

    <div class="card__footer flex-container">
        <a href="{{ url('installer.finish') }}"
           id="next"
           class="btn btn-primary flex-item flex-right">
            {{ "shopwell.installer.finish_continue"|trans }}
        </a>
    </div>
{% endblock %}
