{# @sw-package framework #}

{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_meta %}
    {% set isAjaxOffcanvas = true %}

    {{ parent() }}
{% endblock %}

{% block utilities_offcanvas_close_text %}
    {{ 'cookie.close'|trans|sw_sanitize }}
{% endblock %}

{% block utilities_offcanvas_content %}
    {% set acceptAllCookies = config('core.basicInformation.acceptAllCookies') %}
    <div class="offcanvas-cookie" role="region" aria-labelledby="offcanvas-cookie-headline">
        <div class="offcanvas-cookie-description">
            <p>
                {% set privacySnippetKey = 'cookie.messageTextPage' %}
                {% set cmsPath = 'frontend.cms.page.full' %}

                {{ privacySnippetKey|trans({
                    '%url%': path(cmsPath, { id: config('core.basicInformation.privacyPage') })
                })|raw }}
            </p>

            <h2 class="offcanvas-cookie-header h5" id="offcanvas-cookie-headline">
                {{ 'cookie.headline'|trans|sw_sanitize }}
            </h2>
        </div>

        <div class="offcanvas-cookie-list">
            {% for cookieGroup in cookieGroups %}
                {% sw_include '@Storefront/storefront/layout/cookie/cookie-configuration-group.html.twig' with {
                    themeIconConfig: themeIconConfig,
                    cookieGroup: cookieGroup
                } only %}
            {% endfor %}
        </div>

        {% if acceptAllCookies %}
            {% block layout_cookie_configuration_allow_all_button %}
                <div class="d-grid mb-2">
                    <button
                        type="submit"
                        class="btn btn-primary btn-block js-offcanvas-cookie-accept-all">
                        {{ 'cookie.acceptAll'|trans|sw_sanitize }}
                    </button>
                </div>
            {% endblock %}
        {% endif %}

        {% block layout_cookie_configuration_button %}
            <div class="d-grid">
                <button
                    type="submit"
                    class="btn btn-primary js-offcanvas-cookie-submit">
                    {{ 'cookie.save'|trans|sw_sanitize }}
                </button>
            </div>
        {% endblock %}
    </div>
{% endblock %}
