{# @sw-package framework #}

{% if child.cookie is not empty and child.hidden is not same as(true) %}
    {% set cookie = child.cookie %}
    {# @deprecated tag:v6.8.0 - Use `child.name` instead of `child.snippet_name`. Support for `child.snippet_name` will be removed. #}
    {% set childName = child.snippet_name ?? child.name %}
    {# @deprecated tag:v6.8.0 - Use `child.description` instead of `child.snippet_description`. Support for `child.snippet_description` will be removed. #}
    {% set childDescription = child.snippet_description ?? child.description %}
    <div class="offcanvas-cookie-entry form-check form-switch">
        <input
            type="checkbox"
            role="switch"
            class="form-check-input"
            id="cookie_{{ cookie }}"
            {% if isRequired %}
                checked="checked"
                disabled="disabled"
                aria-disabled="true"
                data-cookie-required="true"
            {% endif %}
            {% if cookie %}
                data-cookie="{{ cookie }}"
            {% endif %}
            {% if child.value %}
                data-cookie-value="{{ child.value }}"
            {% endif %}
            {% if child.expiration %}
                data-cookie-expiration="{{ child.expiration }}"
            {% endif %}>
        <label
            for="cookie_{{ cookie }}"
            class="custom-control-label">
            {{ childName ? childName|trans|sw_sanitize : cookie }}
        </label>

        {% if childDescription %}
            <p>{{ childDescription|trans|sw_sanitize }}</p>
        {% endif %}
    </div>
{% endif %}
