{% block component_hidden_line_items_information %}
    <div class="d-none hidden-line-items-information"
         data-currency="{{ context.currency.translated.shortName }}"
         data-shipping="{{ cart.shippingCosts.totalPrice }}"
         data-value="{{ cart.price.totalPrice }}"
         data-tax="{{ cart.price.calculatedTaxes.amount }}"
    >
        {% for lineItem in lineItems %}
            {% if lineItem.priceDefinition.price and lineItem.priceDefinition.price is float %}
              {% set gaPrice = lineItem.priceDefinition.price %}
            {% else %}
              {% set gaPrice = lineItem.price.totalPrice %}
            {% endif %}

            {% block component_hidden_line_item_information %}
                {% set categories = lineItem.payload.categoryNames is defined ? lineItem.payload.categoryNames|slice(0, 5) : [] %}
                {% set categoryAttributes = '' %}
                {% for name in categories %}
                    {% set categoryAttributes = categoryAttributes ~ ' data-category-' ~ loop.index ~ '="' ~ name ~ '"' %}
                {% endfor %}
                <span class="hidden-line-item"
                      data-id="{{ lineItem.productId ?? lineItem.referencedId ?? lineItem.id }}"
                      data-name="{{ lineItem.label }}"
                      data-quantity="{{ lineItem.quantity }}"
                      data-price="{{ gaPrice }}"
                      data-brand="{{ lineItem.payload.manufacturerName|default('') }}"
                      {{ categoryAttributes|raw }}
                >
                </span>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
